@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}


header {
  font-family: Arial, sans-serif;
}

.top-bar {
  background-color: #a50038;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  color: white;
  font-size: 16px;
  align-items: center;
  height: 2.9rem;
}

.contact-info span {
  margin-right: 20px;
}

.social-icons svg {
  color: white;
  margin-left: 10px;
  cursor: pointer;
  font-size: 18px;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.logo img {
  height: 50px;
  width: 200px;
  margin-left: 10px;
  padding: 10px;
}

.nav-links {
  display: flex;
  gap: 35px;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.nav-links a {
  text-decoration: none;
  color: rgb(57, 57, 57);
  font-weight: bold;
}

.nav-links a:hover {
  color: #a50038;
}

.enquire-btn {
  border: 1px solid #a50038;
  background: transparent;
  color: #a50038;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

.enquire-btn:hover {
  background-color: #a50038;
  color: white;
}

/* part 2 */
.hero-section6 {
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  color: white;
  transition: background-image 1s ease-in-out;
  
}

.hero-content6 {
  max-width: 700px;
  z-index: 2;
}

.tagline {
  color: white;
  font-weight: 600;
  
  font-size: 20px;
}

.hero-content6 h1 {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.green {
  color: #a50038;
}

.yellow {
  color: #d9c57c;
}

.description1 {
  margin-top: 28px;
  color: white;
  font-size: 18px;
  line-height: 1.6;
}

.hero-buttons6 {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.primary-btn {
  background-color: #a50038;
  color: white;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.secondary-btn {
  background-color: transparent;
  border: 2px solid white;
  color: #a50038;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.secondary-btn:hover {
    background-color: #a50038;
    color: white;
}
.primary-btn:hover,
.secondary-btn:hover {
  opacity: 0.9;
}
.primary-btn:hover{
  background-color: white;
  color: #a50038;
}
/* part 3 */


.our-story {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 50px;
  background-color: #fff;
  font-family: 'Segoe UI', sans-serif;
  flex-wrap: wrap;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.image-container img {
  max-width: 800px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

.text-container {
  max-width: 600px;
}

.section-title {
  color: #a50038;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
   font-family: 'Segoe UI', sans-serif;
}

.text-container h2 {
  font-size: 36px;
  font-weight: bold;
  color: #1d1d1d;
  margin-bottom: 20px;
  line-height: 1.3;
}

.paragraph {
  font-size: 17px;
  color: #444;
  margin-bottom: 16px;
  line-height: 1.7;
}

.learn-more {
  display: inline-block;
  color: #a50038;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  margin-top: 10px;
}

.learn-more:hover {
  text-decoration: underline;
}

/* part catageory */

.categories-section {
  text-align: center;
  padding: 3rem 2rem;
  background-color: #fff;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.categories-title {
  font-family: 'Segoe UI', sans-serif;
  font-size: 2.3rem;
  color: #a50038;
  margin-bottom: 2rem;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
}

.category-image {
  background-color: #f8d6d6;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.category-image img {
  width: 70px;
  height: auto;
}

.category-name {
  margin-top: 0.8rem;
  font-size: 1.1rem;
  font-weight: 500;
}


/* part 4 */

.products-section {
  background-color: #f8f5ee;
  background-image: radial-gradient(#e3dbc9 1px, transparent 1px);
  background-size: 40px 40px;
  padding: 40px 20px;
  text-align: center;
  font-family: "Arial", sans-serif;
}

.products-section .section-label {
  color: #a50038;
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 24px;
}

.products-section .section-title {
  font-size: 2rem;
  font-weight: 800;
  color: #1f2937;
  margin-bottom: 10px;
}

.section-description {
  color: #4b5563;
  max-width: 700px;
  margin: 0 auto 40px;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  width: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.product-image-wrapper {
  position: relative;
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-label {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #d8eacb;
  color: #a50038;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 999px;
}

.product-info {
  padding: 20px;
}

.product-category {
  font-size: 0.8rem;
  color: #6b7280;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

.product-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 10px;
}

.product-description {
  font-size: 0.95rem;
  color: #4b5563;
  margin-bottom: 15px;
}

.product-link {
  color: #a50038;
  font-weight: bold;
  font-size: 0.95rem;
  cursor: pointer;
  text-decoration: none;
}

.learn-btn1 {
  background-color: #a50038;
  color: white;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 15px;
}

.learn-btn1:hover{
  background-color: white;
  color: #a50038;
}

/* part 5 */

.sustainability-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 60px;
  gap: 50px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.sustainability-content {
  max-width: 600px;
  flex: 1;
}

.sustainability-subtitle {
  color: #a50038;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
}

.sustainability-heading {
  font-size: 36px;
  font-weight: bold;
  color: #1d1d1d;
  margin-bottom: 20px;
}

.sustainability-description {
  font-size: 17px;
  color: #444;
  margin-bottom: 30px;
  line-height: 1.6;
}

.sustainability-feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.sustainability-feature-card {
  background: #f2f1ed;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.sustainability-feature-icon {
  font-size: 26px;
  background-color: #e3ebcd;
  padding: 10px;
  border-radius: 50%;
}

.sustainability-feature-title {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 5px;
}

.sustainability-feature-description {
  margin: 0;
  color: #555;
  font-size: 15px;
}

.sustainability-link {
  color: #a50038;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
}

.sustainability-link:hover {
  text-decoration: underline;
}

.sustainability-image-container {
  flex: 1;
  max-width: 600px;
}

.sustainability-image {
  width: 90%;
  border-radius: 8px;
  object-fit: cover;
}

/* part juteprocess */

.timeline-container {
  padding: 20px 20px;
  background-color: #f8f5ee;
  font-family: "Arial", sans-serif;
  text-align: center;
  
}

.timeline-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 6px;
  color: #a50038;
}

.timeline-subheading {
  color: #444;
  font-size: 1.1rem;
  margin-bottom: 50px;
}

.timeline {
  position: relative;
  margin: 0 auto;
  max-width: 900px;
  padding: 0 20px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #c2d4ae;
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 20px 30px;
  box-sizing: border-box;
}

.timeline-item.left {
  left: 0;
  text-align: right;
}

.timeline-item.right {
  left: 50%;
  text-align: left;
}

.timeline-content {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.timeline-content h3 {
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.timeline-content p {
  margin: 10px 0 0;
  color: #444;
}

.circle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #a50038;
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-weight: bold;
  z-index: 1;
  font-size: 18px;
}

.timeline-item.left .circle {
  left: 420px;
  right: 500px;
}

.timeline-item.right .circle {
  left: -30px;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 8px;
  }

  .timeline-item {
    width: 100%;
    padding-left: 40px;
    padding-right: 0;
    text-align: left;
  }

  .timeline-item.right {
    left: 0;
  }

  .timeline-item.left {
    left: 0;
  }

  .circle {
    left: 0;
    transform: translateY(-50%);
  }

  .timeline-item.left .circle,
  .timeline-item.right .circle {
    left: -20px;
  }
}


/* part imapact section */

.impact-stats-section-new {
  position: relative;
  background: url("../assets/impact.avif") no-repeat center center/cover;
  padding: 2rem 2rem;
  text-align: center;
  color: white;
  z-index: 1;
  overflow: hidden;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.impact-stats-section-new::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(21, 21, 21, 0.4); /* Transparent dark overlay */
  z-index: 0;
}

.impact-content-new {
  position: relative;
  z-index: 1;
}

.impact-heading-new {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
}

.impact-subheading-new {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.impact-stats-container-new {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.impact-box-new {
  flex: 1 1 200px;
  max-width: 200px;
}

.impact-box-new h3 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.impact-box-new p {
  font-size: 1rem;
  color: white;
}

/* part companyimages */

.company-gallery {
  padding: 30px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  background-color: #f8fcfe;
  margin: 20px;
}

.company-gallery h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  color: #a50038;
}

.image-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 10px;
}

.image-card {
  width: 100%;
  max-width: 240px;
  height: 200px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  display: flex;
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* part 6 */

.testimonials-section {
  background-color: #f8f5ee;
  background-image: radial-gradient(#dcd1bd 1px, transparent 1px);
  background-size: 40px 40px;
  text-align: center;
  padding: 50px 20px;
  font-family: "Arial", sans-serif;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.section-label {
  color: #a50038;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
}

.section-title {
  font-size: 2rem;
  font-weight: 800;
  color: #1f2937;
  margin-bottom: 10px;
}

.section-description {
  color: #4b5563;
  max-width: 700px;
  margin: 0 auto 40px;
}

.testimonials-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.testimonial-card{
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  text-align: left;
}

.testimonial-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
}

.name {
  font-weight: bold;
  color: #1f2937;
}

.title1 {
  font-size: 0.9rem;
  color: #6b7280;
}

.quote {
  font-size: 1rem;
  color: #374151;
  position: relative;
  padding-left: 20px;
}

.quote::before {
  content: "“";
  position: absolute;
  left: 0;
  color: #d1e7c3;
  font-size: 2rem;
  line-height: 1;
}

.read-more {
  color: #a50038;
  font-weight: bold;
  margin-top: 40px;
  cursor: pointer;
  font-size: 20px;
}

/* part 7 */

.sustainable-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #a50038;
  color: white;
  font-family: "Arial", sans-serif;
  flex-wrap: wrap;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.sustainable-left {
  flex: 1;
  min-width: 300px;
  padding-right: 30px;
}

.sustainable-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sustainable-subtext {
  font-size: 1.2rem;
  max-width: 600px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: white;
}

.sustainable-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.browse-btn,
.contact-btn {
  font-size: 1rem;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.browse-btn {
  background-color: white;
  color: #a50038;
  border: 2px solid white;
}

.browse-btn:hover {
  background-color: #f0f0f0;
}

.contact-btn {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.contact-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sustainable-right {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.sustainable-image {
  max-width: 70%;
  height: auto;
  border-radius: 8px;
}


/* last part */


.footer {
  background-color: #f5f5f0;
  padding: 50px 80px 20px;
   font-family: 'Segoe UI', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1 1 220px;
  margin: 20px;
}

.footer-col h3,
.footer-col h4 {
  color: #1d1d1d;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-col p {
  color: #444;
  margin-bottom: 12px;
  line-height: 1.5;
}

.footer-col ul {
  list-style-type: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  color: #333;
  cursor: pointer;
}

.footer-col ul li:hover {
  text-decoration: underline;
}

.social-icons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  color:#a50038 ;
}

.icon-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #a50038;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
}

.whatsapp-btn {
  background-color: #a50038;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.whatsapp-btn:hover {
  background-color: #1ebe5b;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  color: #555;
  border-top: 1px solid #ddd;
  padding-top: 15px;
}

